{% extends "layout.njk" %} 

{% block head %}
    <title>{{items.title}} </title>
{% endblock %}

{% block content %}
    <main> 
        <section>
            <div class="card" id="{{item.id}}">
                <div class="card-img">
                    <img src="/assets/{{item.id}}.png" alt="{{item.title}}">
                </div>
                <div class="card-info">
                    <h3 class="recipe">{{items.title}}</h3>
                    <p class="author">{{items.author}}</p>
                </div>                
            </div>

            {% for ingredient in items.ingredients %}
                <div class="ingredients">
                    <ul>
                        <li>{{ingredient}}</li>
                    </ul>
                </div>
            {% endfor %}

            {% for preparation in items.preparation %}
                <div class="preparation">
                    <ul>
                        <li>{{preparation}}</li>
                    </ul>
                </div>
            {% endfor %}

            <div class="infos">
                <h3>{{items.information}}</h3>

            </div>

        </section>                        
    </main>

<script src="/scripts.js"></script>

{% endblock %}



