@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    bottom: 0;
    padding: 0;
}
body {
    font-family:'Roboto-Regular ', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
}
header {
    margin: 38px 230px 36px 230px;
}
main {
    margin: 0 230px;
}
.links a {
    font-size: 16px;    
    color: #111111;
    text-decoration: none;
    margin-top:38px;
    margin-right: 30px;
}
.links a img {
    background-position:231px;
    margin-top:36.1px ;
    margin-right: 122.4px;
}
.content {
    background-position: 230px 93px;
    width: 940px;
    height: 366px;
    background-color: #FBDFDB;
    opacity: 100%;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-info h1{
    font-size: 32px;
    margin-bottom: 10px;  
    margin-left:60px;
    margin-right: 0px;
    margin-top: 117px;  
}
.content-info p {
    margin-bottom: 117px;
    margin-right: 0px;
    margin-left:60px;
    font-size: 18px;
    color:  #000000;
    opacity: 0.7;
    line-height: 28px;
}
.content-img img {
    margin-top: 66px;
    margin-right: 100px;
    margin-left: 239px;
}
.popular-recipes h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
}
.cards {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.card {
    background-color: white;
    cursor: pointer;
}
.card-img img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.card-info h3 {
   font-size: 18px;
}
.card-info p {
    font-size: 14px;
    color: #777777;
    opacity: 100%;

}
footer {
    background-color: #EEEEEE;
    background-position: 0 1041px;
    width: 100vw;
    height: 62px;
    opacity: 100%;
    margin-top: 8%;
   /* position: fixed;*/
}
.footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding-top: 23px;    
}
.info-foodfy h2 {
    font-size: 24px;
    font-weight: bold;
}
.info-foodfy h3 {
    font-size: 20px;
    font-weight: bold;
}
.info-foodfy p {
    font-size: 18px;
    line-height: 28px; 
    margin-top: 20px;
    margin-bottom: 30px;  
}

/***MODAL*****/
.modal-overlay {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;   
    opacity: 0;
    visibility: hidden;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal {
    width: 660px;
    height: 413px;
    background-color: white;
    opacity: 100; 
    border-radius: 16px; 
    margin: 25vh auto;   
    position: relative;    
}
.modal-img  img {
    width: 600px;
    height: 200px;
    border-radius: 40px;
    padding: 30px 30px 20px 30px;
}
.modal-info {
    line-height: 100%;
    text-align: center;
}
.modal-info h3 {
   font-size: 24px;
}
.modal-info  p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 60px;
    color: #777777;
}
.close-modal {
    position: absolute;
    margin: 0 281px 30px 281px;
    font-size: 16px;
    color:  #999999;
    cursor: pointer;   
}

/***PAGE not-found*****/
.error {
    color: black;
    font-size: 50px;
    text-align: center;
    margin-top: 10vh;
}
.error img {
    width: 400px;
    height: 300px;
}
.error h4 {
    font-size: 20px;
}

/***RECIPE SELECTED*****/
.card-recipe .card-img img{
    width: 1000px;
    height: 300px;
}
.card-recipe .card-info {  
    text-align: center;
}
.card-recipe .recipe {
    font-size: 36px;
    margin-top: 50px;
    font-family: 'Roboto-Bold', sans-serif;
    color: #111111;
}
.card-recipe .author {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 50px;
}
.card-ingredients  h3, .card-preparation  h3, .card-information h3 {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 24px;
    color: #111111;   
    display: inline; 
}
.card-ingredients a, .card-preparation  a, .card-information a {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 12px;
    color: #999999;
    cursor: pointer;    
}
.card-ingredients  ul, .card-preparation  ul, .card-information p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin: 20px 0 39px 0;    
}
.card-ingredients  ul, .card-preparation  ul {
    margin-left: 15px;   
}